.main-nav {
  background-color: #242423;

  .navbar-nav .nav-link {
    &.active, &:hover {
      color: #F5CB5C;
    }
  }
}

.navbar {
  &.scrolled {
    background-color: #F5CB5C;
    transition: background-color 0.5s ease;
    box-shadow: 0px -10px 30px #998243;

    a.nav-link {
      color: black;

      &.active {
        color: #615f5f;
      }
    }
  }

  img.main-logo {
    max-width: 40px;
  }
}

.main {
  background-color: #242423;
  color: white;

  h2 span {
    color: #F5CB5C;
  }
}

.crop-img {
  object-fit: cover;
}

.main-footer-menu {
  img {
    max-width: 70px;
  }

  h3 {
    color: white;
    margin-bottom: 15px;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: #F5CB5C;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;

    li {
      margin-bottom: 10px;
    }
  }
}

.main-footer-copyright {
  background-color: #333533;
  color: #F5CB5C;
}

.contact {
  margin-bottom: 30px;
}